#navaccordion .ui-icon{
	display: none;
}
#navaccordion .ui-state-default {
	background: none;
	border: none;
}
#navaccordion .ui-widget-content {
	border: none;
}
#login-box label.error{
    color:red;
    display: inline-block;
    float: right;
    width: 100%;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
#additional_loading {
    clear: both;
    width: 730px;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0 auto;
    padding: 10px;
}
#searchform_loading {
    background: #808080;
    color: #FFFFFF;
    padding: 5px 8px 5px 18px;
    margin: 0px;
}
#newsbox_loading{
    margin: 14px 0 7px 0;
}